/node_modules
/public/storage
/public/images-products
/public/sliders
/public/logos/*
/public/tendaz/css
/public/tendaz/js
/public/tendaz/images
/public/tendaz/fonts
/public/tendaz/img
/public/profile/*
/public/store
/public/new-checkout/js
/vendor
/.idea
/.vagrant
Vagrantfile
Homestead.json
Homestead.yaml
.env
/storage/logs/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/cache/*
.DS_Store
.composer.lock
database/test/
