<section class="section text-center">
    <br><br>
    <div class="col col-md-4 col-sm-12 col-xs-12">
        <div class="card blog">
            <!-- Blog image here -->
            <img class="img-responsive" src="http://placehold.it/400x250">
            <div class="blog-content">
                <!-- Edit title and info here -->
                <div class="blog-title">
                    <h6 class="text-capitalize">Product Name</h6>
                    <ul>
                        <li><i class="fa fa-times"></i><strong>Precio:</strong>$0.0</li>
                        <li><i class="fa fa-times"></i><strong>Stock:</strong>2</li>
                    </ul>
                    <ul>
                        <li><i class="fa fa-times"></i><strong>Variables:</strong>Talla: S</li>
                        <li><i class="fa fa-times"></i><strong>Sku:</strong>None</li>
                    </ul>
                    <br>
                    <!-- Add link of full post -->
                    <a href="" target="_blank" class="btn-floating waves-effect waves-light btn-large more-btn custom-btn aos-init aos-animate" data-aos="zoom-in" data-aos-delay="200">
                        <i class="fa fa-shopping-cart"></i></a>
                </div>
                <!-- some line of post -->
                <p class="text-left">
                    Descrption of product...
                </p>
            </div>
        </div>
    </div>
</section>