<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3 step-Indicator"  ng-class="checkActiveLink('/cart')">
                        <div class="number">
                            <div>1</div>
                        </div>
                        <p>CARRITO DE COMPRAS</p>
                    </div>
                    <div class="col-md-3 step-Indicator" ng-class="checkActiveLink('/email')">
                        <div class="number">
                            <div>2</div>
                        </div>
                        <p>INGRESA TU CORREO</p>
                    </div>
                    <div class="col-md-3 step-Indicator" ng-class="checkActiveLink(['/profile' , '/shipping']);">
                        <div class="number">
                            <div>3</div>
                        </div>
                        <p>ENV&Iacute;O Y PAGO</p>
                    </div>
                    <div class="col-md-3 step-Indicator" ng-class="checkActiveLink('confirmation')">
                        <div class="number">
                            <div>4</div>
                        </div>
                        <p>PEDIDO CONFIRMADO</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 divider"></div>
    </div>
</div>