/*@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');*/
		p {
		font-family: 'Josefin Sans', sans-serif;
		font-size: 18px;
		}

		.vertial_line{
		border-right: 0.5px solid #F5F5F5;
		}