 /* @import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"); */
.colorTendaz{
  color: #f26522;
}
 .backgroundTendaz{
   background-color: #F9A03F;
   color: white;
 }
 .backgroundSecondTendaz{
   background-color: #3c3c3c;
   color: white;
 }
 .panel-pricing {
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    border-top: 6px solid #1E91D6;
    background-color: #fff;
    margin-top: 15%;
    min-height: 746px;
}
.panel-pricing h1, h2, h3 {
  color: #1f2836;
  align-items: center !important;
  justify-content: center !important;
  vertical-align: middle !important;
  text-indent: inherit;
}
.panel-pricing  ul {
    margin-top: 20%;
    margin: 0;
    padding: 0;
    list-style: none;
    margin: 0 20px 30px;
    border-top: 1px solid #DEDEDE;
    color: #1f2836;
}
.panel-pricing li {
    position: relative;
    padding: 0 10px 10px;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.43;
    line-height: 1.8;
    color: #1f2836;
}
.panel-pricing:hover {
/*  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
*/}
.panel-pricing .panel-heading {
  padding: 10px 0px;
}
 .panel-pricing .panel-heading:hover, .selected {
   background-color: #FFF;
 }
.panel-pricing .panel-heading .fa {
  margin-top: 10px;
  font-size: 25px;
}
.panel-pricing .list-group-item {
  color: #777777;
  border-bottom: 1px solid rgba(250, 250, 250, 0.5);
}
.panel-pricing .list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.panel-pricing .list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.panel-pricing .panel-body {
  background-color: #fff;
  font-size: 40px;
  color: #777777;
  padding: 20px;
  margin: 0px;
  height: 300px !important;
}

.heightFooter {
  height: 90px;
}
.selected {
  background-color: #FFF;
/*  box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.2);
*/  margin-top: 12%;
    border-right: 1px solid #f7f7f7;
    border-left: 1px solid #f7f7f7;
    min-height: 1030px;
}
.selected  ul {
    margin-top: 8% !important;
    margin: 0;
    padding: 0;
    list-style: none;
    margin: 0 20px 30px;
    border-top: 1px solid #DEDEDE;
}
.selected li {
    position: relative;
    padding: 0 10px 10px;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.43;
    line-height: 1.8;
    color: #1f2836;
}
.heading-description 
{
  padding-top: 40px;
  color: #1f2836;
  font-size: 15px;
  margin-bottom: -0%;
}
.heading-description h1 
{
  color: #1f2836;
  font-size: 40px;
}
.active_plan{
    padding-left: 0px !important;
    padding-right: 0px !important; margin-top: -50px !important;z-index: 1;
}
.shadow_plan{
    -webkit-box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.75);
}

 .name {background-color: #f26522;border-radius:5px 0 0 5px ;border: 1px solid #f26522;color: white;padding: 9px 4px 8px 4px;}
 .price {background-color: transparent; color: black;padding: 9px 5px 8px 5px;border-radius:0 5px 5px 0; margin-left: -3px;font-size: 20px}
 .items p{background-color: white;padding: 3px 3px 3px 3px}
 .ba {margin-top: 20px; margin-bottom: 20px}
  p .fa{color: green}
 .item-principal p {padding: 1px 1px 1px 5px;background-color: rgba(17, 17, 17, 0.68);color: white;}
 .space{margin-top: 15px; margin-bottom: 15px}
 .btn-primary{background-color: #f26522 !important;border: 1px solid #f26522 !important;margin-bottom: 15px}

 .btn-checbox{background-color: white !important;color: black !important;}
 .activeCheckbox{background-color: #f26522 !important;color: white !important;}
 .one{font-size: 28px}
 .btn-group{margin-top: 12px}

 .affix {  top: 0;  z-index: 2;  width: 100%; border-bottom: 1px solid #ccc }
 .promotion {  background-color: #f7f7f7;  padding-top: 10px; padding-bottom: 10px}